
* {
margin: 0;
padding: 0;

}
.container1
{
    width:1024px;
}

/*----navigation---*/

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background-color:#fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 12px;
}
/*---SLIDER--------*/

#slider
{
width: 100%;

}

.carousel-caption
{
    top:50%;
    transform: translateY(-50%);
    bottom: initial!important;

  
}

.carousel-caption  .h2
{   
    color: white;

}


/*-----------about------*/


.container
{

    background-image: a8dadc;
}
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #559;
}

#about .btn
    margin-top: 20px;
   margin-bottom: 30px;
}

.about-content{
    width: fit-content;
    height: fit-content;
padding-top: 20px;

}

.skills-bar p{
    width: fit-content;
    height: fit-content;
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar
{
    border-radius: 16px;


}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
}



/*---------services-------*/

#services

{ 
    background-color: #00a896;
    background-size: cover;
    background-position: center;
    color: #fff  !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color:#fff !important;
    padding-bottom: 10px;
}

#services h1::after 
{
 content: ;
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;

}

.services
{
    margin-top: 40px;

}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width:  80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.services p{
    width: fit-content;
    list-style: height step 0;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
}

.services .col-md-3:hover
{
    background:#1d3557;
    cursor: pointer;
    transition: 0.7s;

}



/*-----team mbers----*/


#team


{ background-color:#028090;
    padding-top: 50px;
    padding-bottom: 50px;
    color:#457b9d;

}
h1{
    text-align: center;
    color: #fff !important;
    padding-bottom: 10px;

}

h1::after
{
    content: '';
    background: #fff;
    display: block;
    height:3px;
    width: 170px;
    margin:20px auto 5px;
}


.profile-pic

{
    margin-top: 25px;
   
}
.profile-pic .img-box
{
    opacity:1;
    display: block;
    position: relative;
}

.profile-pic .img-box img
{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{

    font-size:  22px;
    font-weight: bold;
    margin-top: 15px;
    color: #fff !important;
}

.profile-pic h3

{ 
   
    color: #fff;
    font-size:  15px;
    font-weight: bold;
    margin-top: 15px;
   
}
.profile-pic p
{color:#fff;

}

#team .fb {
    height:25px;
    width: 25px;
    color: #fff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;

}

.img-box ul{
   
    padding: 15px;
    position: relative;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

}

.img-box ul li{
    color: #fff;
    padding: 5px;
    display: inline-block;


}
.img-box:hover ul
{ color: #fff;
    opacity:1;

}
.img-box ul, .img-box ul li{transition: 0.5s;}



/*--------promo-----*/

#promo
{
    background-image: url("dddd.jpg");
    background-size: cover;
    background-position: fixed;
    color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}



/*----price plan*/


#price{
    padding: 48px 0;
    background-color: #02c39a;
}

.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: fit-content;
    height: fit-content;
    background-color: #fff ;
    transition:0.5s;

}

.single-price:hover{
    box-shadow: 0 0 25px 5px #efefef;
}
.price-head
{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width:100%;

}

.price-head h1{
    color: #333;

}
.price-head h4

{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding:5px;
    text-transform: uppercase;

}



.price-head p{
    font-size:  25px;
    color: #333;
font-weight: bold;
line-height: 30px;
}


#price span
{
    font-size: 3px;
}
.price-content
{
    display: inline;
    font-size: smaller;
   float: left;
  
    padding: 0 15px;
}

.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li  :last-child{
    border: none;
}

.price-button
{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;

}

.buy-btn

{
    background-color: #2e6ec7; 
border-radius: 2px;
display: inline-block;
font-weight: bold;
color: #fff;
font-size: 13px;
padding: 15px 50px;
transition: 0.5s;
}
.buy-btn:hover{
    border-color: 2px solid #fff;
    background-color: rgb(166, 115, 247);
    
}
a{
    text-decoration : none !important;
    color: #fff
}




/*------testimonials-----*/

#testimonials
{
    padding-top: 50px;
    padding-bottom:50px;
}

#testimonials .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}

.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user
{
    width:120px;
    height: 120px;
    border-radius: 50%;
}
.profile img{
    top: -60px;
    position: absolute;
     left: calc(50%- 60px);
    border: 10px solid #fff;
}
.profile h3{
    width: fit-content;
    height: 100px;
    font-size:20px;
    margin-top: 15px;
    color: #007bff;
}

#testimonials span
{
    font-size: 12px;
    color: #333;
}
blockquote
{
    font-size: 16px;
    line-height:30px;
}

blockquote::before{
  
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height:  20px;
    bottom: -15px;
    right: 5px;

}


blockquote::after

{
  
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height:  10px;
    bottom: -15px;
    left: 5px;
    
}

.profile:hover
{
    box-shadow: 0 0 25px 5px #efefef;
    cursor: pointer;
    transition: 0.5s;
}


/*-----GET IN TOUCH-----*/


#contact 

{
    background:#00a896;
    padding-top: 40px;
    padding-bottom: 40px;
     color: #777;

}

.col-md-6
{
    padding-top: 5px;
    margin-top: 10px;
}
.contact-form 
{
    padding: 15px;
   

}


.form-control
{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder
{
    color: #999 !important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}


.contact-info

{ margin-top: -10px;
    color: #007bff;
    font-weight: normal;
    word-spacing: 2px;

}


/*---footer---*/
#footer{
    font-size: smaller;
    background: #f3f3f3;
    color: rgb(34, 23, 23);
    padding: 12px;
    
}